<div class="legend">
    <h3>Legend</h3>
    <div class="legend-item">
      <img src="assets/x.png" alt="Black" class="legend-icon">
      <span> Yet_to_Visit, No_Center</span>
    </div>
    <div class="legend-item">
      <img src="assets/red.png" alt="Red" class="legend-icon">
      <span> Visited, No_Center</span>
    </div>
    <div class="legend-item">
      <img src="assets/navy.png" alt="Blue" class="legend-icon">
      <span>Yet_to_Visit,Center_Exists </span>
    </div>
    <div class="legend-item">
      <img src="assets/green.png" alt="Green" class="legend-icon">
      <span> Visited, Center_Exists</span>
    </div>
    <div class="legend-item">
      <img src="assets/pink.png" alt="Green" class="legend-icon">
      <span>Radar Data</span>
    </div>
  </div>
  