.legend {
  position: absolute;
  bottom: 20px; /* Adjust this value to add space from the bottom */
  right: 20px; /* Adjust this value to add space from the right */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.legend h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
